<div class="col-sm-6">
    <div class="input-group">
    <input type="text" class="form-control input-sm" placeholder="Buscar" name="searchAll" id="searchAll">
    <span class="input-group-btn">
        <button class="btn btn-sm btn-default" type="button" id="searchAllBt"><i class="fa fa-search"></i> Buscar</button>
        <button class="btn btn-sm btn-default" type="reset" id="searchClearBt"><i class="fa fa-eraser"></i> Limpar</button>
    </span>
    </div>
</div>
